* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }
  html a {
    text-decoration: none;
    outline: none; }
  html a:hover {
    text-decoration: underline; }

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #D9AFD9;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

h1 {
  display: flex;
  position: relative;
  font: 50px Helvetica, Sans-Serif;
  color: whitesmoke;
}
	
	h1:after {
		content: "Adriano Almiron";
		position: absolute; left: 5px; top: 5px;
		color: black;   
	}

  h2 {
		display: inline;
		position: relative;
		font: 50px Helvetica, Sans-Serif;
		letter-spacing: -5px;
		color: rgba(2, 2, 97, 0.911); 
	}
	
	h2:after {
		position: absolute; left: 5px; top: 5px;
		color: rgba(255,0,0,0.5);   
	}

  .hijofooter{
    width: auto;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }

.navbar {
  background: #fccedc;
  position: sticky;
  top: 0; }

.navbar a {
  color: #fff;
  display: inline-block;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: white;
  transition: .3s ease-out all; }

.navbar a:hover {
  background: #97D9E1;
  color: #fff;
  text-decoration: none; }

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between; }
  img {
    display: block;
    width: 50%;
    padding-left: 0;
}
.hijo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; 
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: row; }

main .contenido p {
  margin-bottom: 20px;
  line-height: 30px;
  color: #070707; }

main .contenido .titulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-top: 40px; }

main .contenido .fecha {
  font-size: 14px;
  color: #d12349; }

aside {
  min-width: 30%;
  margin: 40px 20px 20px 0;
  height: 100%;
  padding: 20px;
  border-radius: 3px;
  position: sticky;
  top: 20px; }

aside .titulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 20px;
  color: #0c0c0c; }

aside .indice a {
  display: block;
  margin-bottom: 10px;
  color: #020202; }

.music {
  position: sticky;
  padding: 10px; }

.music h4 {
  position: sticky;
  color: black;
  font-size: medium; }

footer .navbar {
  position: sticky;
  bottom: 0;
  background-color: #5ab9b5; }

@media screen and (max-width: 900px) {
  .navbar .contenedor {
    flex-wrap: wrap;
    margin: 0;
    width: 100%; }
  .navbar a {
    width: auto;
    flex: 1; }
  .contenedor-imagen {
    height: 50vh; }
  main .contenedor {
    flex-direction: row; }
  aside {
    position: static;
    margin: 40px 0 0; } }
